<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{_layout/default}">
<body>
<th:block layout:fragment="content">
    <section class="content-wrapper">
        <section class="content-header">
            <h1>[todo populate]</h1>
        </section>
        <form method="post" th:action="@{/system/routes/status/{id}(id=__${#request.getAttribute('id')}__)}">
            <input type="submit" value="Change status" />
        </form>
        <form method="post" th:action="@{/system/routes/delete/{id}(id=__${#request.getAttribute('id')}__)}">
            <input type="submit" value="Delete route" />
        </form>
    </section>
</th:block>
</body>
</html>