<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<body>
<section class="main__content" layout:fragment="content">
    <!-- Entries start-->
    <section class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>Home - Dashboard</h1>
                    <hr>
                </div>
            </div>
        </div>
    </section>
    <!-- Entries end-->
</section>
</body>
</html>