<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{_layout/default}">
<head>
    <style type="text/css">
        .box-body-override {
            text-align: right;
            font-size: x-large;
        }

        .content {
            min-height: auto;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <section class="content-wrapper">
        <div class="content-header">
            <h1>CBFS status</h1>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-3">
                    <div class="box box-solid" th:class="${status.status == T(hu.psprog.leaflet.failover.api.domain.FailoverStatus).SERVING ? 'box box-danger' : 'box box-success'}">
                        <div class="box-header">
                            <h3 class="box-title">CBFS status is currently</h3>
                        </div>
                        <div class="box-body box-body-override">
                            <span th:text="${status.status}">status</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box box-solid">
                        <div class="box-header">
                            <h3 class="box-title">The last time CBFS started serving traffic was</h3>
                        </div>
                        <div class="box-body box-body-override">
                            <span th:text="${status.lastCall != null} ? ${status.lastCall} : 'never'">last call date</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box box-solid">
                        <div class="box-header">
                            <h3 class="box-title">The last time CBFS created a mirror was</h3>
                        </div>
                        <div class="box-body box-body-override">
                            <span th:text="${status.lastMirroring != null} ? ${status.lastMirroring} : 'never'">last mirroring date</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header">
            <h1>Mirror status</h1>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-3" th:each="mirror : ${status.mirrorStatus}">
                    <div class="box box-solid">
                        <div class="box-header">
                            <h3 class="box-title" th:text="${mirror.mirrorType}">mirror ID</h3>
                        </div>
                        <div class="box-body box-body-override">
                            <span th:text="${mirror.numberOfRecords} + ' records'">number of records</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header">
            <h1>Status transitions</h1>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <td>Timestamp</td>
                                    <td>Status went to</td>
                                    <td>Additional info</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="statusEntry : ${status.statusEntryList}">
                                    <td th:text="${statusEntry.created}">entry created at</td>
                                    <td th:text="${statusEntry.status}">status</td>
                                    <td th:text="${statusEntry.parameter}"> (parameter info)</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>