<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{_layout/default}">
<body>
<th:block layout:fragment="content">
    <section class="content-wrapper">
        <section class="content-header">
            <h1>Change role of user <span th:text="${username}">username</span></h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <th:block th:replace="_fragment/message :: message(${flash})"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-body">
                            <a th:href="@{/users}" href="#" class="btn btn-sm btn-info">
                                <i class="fa fa-backward"></i> Back to user management
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box box-warning">
                        <div class="box-header">
                            <h3 class="box-title">Assign new role to user</h3>
                        </div>
                        <div class="box-body">
                            <form method="post" th:action="@{''}">
                                <div class="form-group">
                                    <label for="role">Role</label>
                                    <select class="form-control" name="role" id="role">
                                        <option th:each="role : ${roles}"
                                                th:selected="${T(hu.psprog.leaflet.lms.service.domain.role.AvailableRole).valueOf(currentRole) == T(hu.psprog.leaflet.lms.service.domain.role.AvailableRole).valueOf(role)}"
                                                th:value="${role}"
                                                th:text="${role}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</th:block>
</body>
</html>