<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{_layout/default}">
<body>
<!-- users start-->
<th:block layout:fragment="content">
    <section class="content-wrapper">
        <section class="content-header">
            <h1>Users</h1>
        </section>
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-xs-9">
                                <p class="form-control-static m-0">Table of users</p>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Email address</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user,stat: ${users}">
                                    <td th:text="${stat.index + 1}">0</td>
                                    <td th:text="${user.username}">Test Title</td>
                                    <td th:text="${user.email}">Test Title</td>
                                    <td th:text="${user.role}">Test Title</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 flex-lg-unordered flex-xs-first">
                <div class="card">
                    <div class="card-block">
                        <a class="btn btn-primary" th:href="@{/users/create}" href="#">New user</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>