extends _master
block body
    body.l-error
        include ../_partials/svg
        include ../_partials/_header
        main.main
            block content
        include ../_partials/_footer
        script(src='scripts/vendor.min.js')
        script(src='scripts/app.min.js')
        block script