extends _master
block body
    body(class='l-login',style='background-image: url("https://source.unsplash.com/random/1920x1080");')
        main.main-content
            block content
        script(src='scripts/vendor.min.js')
        script(src='scripts/app.min.js')
        block script