extends _layout/_error

block head-content
    title Error 404 - Leaflet
block content
    // 404 error start
    section.error-message
        svg
            use(xlink:href="#error_icon")
        h1.display-1 Error 404
        p.lead Page not found
        a.btn.btn-outline-primary.btn-lg(href="index.html") Return to Dashboard
    // 404 error end