extends _layout/_default

block head-content
    title Categories - Leaflet
block content
    // Categories start
    section.container-fluid
        .col-xs-12
            .page-header
                h1 Categories
    // Categories end