extends _layout/_default

block head-content
    title Documents - Leaflet
block content
    // Documents start
    section.container-fluid
        .col-xs-12
            .page-header
                h1 Documents
    // Documents end