extends _layout/_default

block head-content
    title Entries - Leaflet
block content
    // Entries start
    section.container-fluid
        .row
            .col-xs-12
                .page-header
                    h1 Entries
                    hr
        .row
            .col-lg-9
                .card
                    .card-header
                        .row
                            .col-xs-9
                                p.form-control-static.m-0 Table of enrities
                            .col-xs-3
                                input.form-control.pull-right(type="text",placeholder="Search")
                    .card-block
                        .table-responsive
                            table.table.table-striped.table-hover
                                thead
                                    tr
                                        th
                                            input(type="checkbox",name="check-all")
                                        th #
                                        th Title
                                        th Author
                                        th Created at
                                        th Modified at
                                tbody
                                    - var i = 0
                                    while i < 15
                                        tr
                                            td
                                                input(type="checkbox",name="entiy-"+i)
                                            td= i++
                                            td Test Title
                                            td Test Author
                                            td 2016.12.09. 12:00
                                            td 2016.12.09. 12:00
                    .card-footer.text-xs-center
                        ul.pagination.pagination-sm.m-0
                            li.page-item
                                a.page-link(href="#")
                                   i.fa.fa-angle-left
                            - var i = 1
                                while i < 7
                                    li.page-item
                                        a.page-link(href="#")= i++
                            li.page-item
                                a.page-link(href="#")
                                    i.fa.fa-angle-right


            .col-lg-3.flex-lg-unordered.flex-xs-first
                .card
                    .card-block
                        a.btn.btn-primary(href="#") New entry
    // Entries end