extends _layout/_default

block head-content
    title Profile - Leaflet
block content
    // Profile start
    section.container-fluid
        .col-xs-12
            .page-header
                h1 Profile
    // Profile end