extends _layout/_default

block head-content
    title Tags - Leaflet
block content
    // Tags start
    section.container-fluid
        .col-xs-12
            .page-header
                h1 Tags
    // Tags end