extends _layout/_default

block head-content
    title Users - Leaflet
block content
    // Users start
    section.container-fluid
        .col-xs-12
            .page-header
                h1 Users
    // Users end