<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{_layout/default}">
<body>
<th:block layout:fragment="content">
    <section class="content-wrapper">
        <section class="content-header">
            <h1>[PROTOTYPE TEMPLATE] Edit file meta information</h1>
        </section>
        <form method="post" th:action="@{''}">
            <div class="form-group">
                <label for="originalFilename">Original filename</label>
                <input class="form-control" id="originalFilename" name="originalFilename" placeholder="Original filename" type="text" th:value="${file.originalFilename}" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" id="description" name="description" placeholder="Description" type="text" th:value="${file.description}" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Save</button>
            </div>
        </form>
    </section>
</th:block>
</body>
</html>