// Header start
header.main-header
    nav.navbar.navbar-full.navbar-light.bg-faded
        a.navbar-brand(href='index.html') Leaflet
        ul.nav.navbar-nav.float-xs-right
            li.nav-item.dropdown
                a#userDropdown.nav-link.dropdown-toggle(href='#',data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') John Doe <span class="caret"></span>
                .dropdown-menu.dropdown-menu-right(aria-labelledby='userDropdown')
                    a.dropdown-item(href='#') Profile
                    a.dropdown-item(href='login.html') Logout
// Header end
