//-
    Dashboard
    System
        Status
        Default SEO
        Front menus
    User management
    Documents
    Blog management
        Entries
        Categories
        Tags
    External systems
        LCM
        Jenkins
// Main menu start
nav.main-nav
    ul.main-nav__menu
        li
            a(href="index.html")
                i.fa.fa-tachometer
                | Dashboard
        li.active
            a.main-nav__menu-dropdown(href="#")
                i.fa.fa-cogs
                | System
                i.dropdown-arrow.fa.fa-angle-left
            ul
                li
                    a(href="status.html") Status
                li
                    a(href="seo.html") Default SEO
                li
                    a(href="menus.html") Front menus
        li
            a(href="users.html")
                i.fa.fa-users
                | User management
        li
            a(href="documents.html")
                i.fa.fa-file-text
                | Documents
        li
            a.main-nav__menu-dropdown(href="#")
                i.fa.fa-comments
                | Blog management
                i.dropdown-arrow.fa.fa-angle-left
            ul
                li
                    a(href="entries.html") Entries
                li
                    a(href="categories.html") Categories
                li
                    a(href="tags.html") Tags
        li
            a.main-nav__menu-dropdown(href="#")
                i.fa.fa-desktop
                | External systems
                i.dropdown-arrow.fa.fa-angle-left
            ul
                li
                    a(href="#") LCM
                li
                    a(href="#") Jenkins
        li
            a.main-nav__menu-dropdown(href="#")
                i.fa.fa-exclamation-circle
                | Error pages
                i.dropdown-arrow.fa.fa-angle-left
            ul
                li
                    a(href="403.html") 403 error
                li
                    a(href="404.html") 404 error
                li
                    a(href="500.html") 500 error
// Main menu end