<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<body>
<section class="main__content" layout:fragment="content">
    <h3>[PROTOTYPE TEMPLATE] Create / Edit document</h3>
    <form method="post" th:action="@{''}">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" id="title" name="title" placeholder="Title" type="text" th:value="${document == null} ? null : ${document.body.title}" />
        </div>
        <div class="form-group">
            <label for="link">Link</label>
            <input class="form-control" id="link" name="link" placeholder="Link" type="text" th:value="${document == null} ? null : ${document.body.link}" />
        </div>
        <div class="form-group">
            <label for="metaTitle">SEO Title</label>
            <input class="form-control" id="metaTitle" name="metaTitle" placeholder="SEO Title" type="text" th:value="${document == null} ? null : ${document.seo.metaTitle}" />
        </div>
        <div class="form-group">
            <label for="metaDescription">SEO Description</label>
            <input class="form-control" id="metaDescription" name="metaDescription" placeholder="SEO Description" type="text" th:value="${document == null} ? null : ${document.seo.metaDescription}" />
        </div>
        <div class="form-group">
            <label for="metaKeywords">SEO Keywords</label>
            <input class="form-control" id="metaKeywords" name="metaKeywords" placeholder="SEO Keywords" type="text" th:value="${document == null} ? null : ${document.seo.metaKeywords}" />
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" name="content" placeholder="Content">[generated content from md]</textarea>
        </div>
        <div class="form-group">
            <label for="rawContent">MarkDown</label>
            <textarea class="form-control" id="rawContent" name="rawContent" placeholder="MarkDown" th:text="${document == null} ? null : ${document.body.rawContent}"></textarea>
        </div>
        <div class="form-group">
            <label for="enabled">Enabled</label>
            <input type="checkbox" class="form-control" name="enabled" id="enabled" th:checked="${document != null and document.body.enabled}" />
        </div>
        <div class="form-group">
            <label for="locale">Language</label>
            <select class="form-control" name="locale" id="locale" th:with="localeList = ${ {'HU', 'EN'} }">
                <option th:each="locale : ${localeList}"
                        th:selected="${document != null and locale == document.body.locale}"
                        th:value="${locale}"
                        th:text="${locale}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Save</button>
        </div>
    </form>
</section>
</body>
</html>