<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{_layout/default}">
<body>
<th:block layout:fragment="content">
    <!-- Entries start-->
    <section class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>Documents</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-xs-9">
                                <p class="form-control-static m-0">Table of documents</p>
                            </div>
                            <div class="col-xs-3">
                                <input class="form-control pull-right" type="text" placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" name="check-all">
                                    </th>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Created at</th>
                                    <th>Modified at</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="document,stat: ${documents}">
                                    <td>
                                        <input type="checkbox" name="entity-0">
                                    </td>
                                    <td th:text="${stat.index + 1}">0</td>
                                    <td th:text="${document.title}">Test Title</td>
                                    <td th:text="${document.user.username}">Test Author</td>
                                    <td th:text="${document.created}">2016.12.09. 12:00</td>
                                    <td th:text="${document.lastModified}">2016.12.09. 12:00</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 flex-lg-unordered flex-xs-first">
                <div class="card">
                    <div class="card-block">
                        <a class="btn btn-primary" th:href="@{/documents/create}" href="#">New document</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Entries end-->
</th:block>
</body>
</html>