<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{_layout/default}">
<body>
<th:block layout:fragment="content">
    <section class="content-wrapper">
        <section class="content-header">
            <h1>Entries</h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <th:block th:replace="_fragment/message :: message(${flash})"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-body">
                            <a class="btn btn-primary" th:href="@{/entries/create}" href="#">New entry</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-header">
                            <h3 class="box-title">Table of entries</h3>
                            <div class="box-tools hidden">
                                <input class="form-control pull-right" type="text" placeholder="Search">
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>
                                            <th:block th:replace="
                                            _fragment/sort :: sort(
                                                ${'/entries/{page}'},
                                                ${'Title'},
                                                ${pageNum},
                                                ${'TITLE'},
                                                ${pagination})" />
                                        </th>
                                        <th>Author</th>
                                        <th>
                                            <th:block th:replace="
                                            _fragment/sort :: sort(
                                                ${'/entries/{page}'},
                                                ${'Created at'},
                                                ${pageNum},
                                                ${'CREATED'},
                                                ${pagination})" />
                                        </th>
                                        <th>Modified at</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="entry: ${content.entries}">
                                        <td>
                                            <a th:href="@{/entries/view/{id}(id=${entry.id})}"
                                               th:text="${entry.title}"></a>
                                        </td>
                                        <td th:text="${entry.user.username}"></td>
                                        <td th:text="${entry.created}"></td>
                                        <td th:text="${entry.lastModified}"></td>
                                        <td>
                                            <div class="pull-right">
                                                <a th:href="@{/entries/edit/{id}(id=${entry.id})}"
                                                   href="#" class="btn btn-sm btn-info">
                                                    <i class="fa fa-pencil"></i> Edit
                                                </a>
                                                <form class="display-inline-block"
                                                      th:action="@{/entries/delete/{id}(id=${entry.id})}"
                                                      th:method="delete">
                                                    <button class="btn btn-sm btn-danger" type="submit"
                                                            onclick="return confirm('Are you sure to delete this entry?')">
                                                        <i class="fa fa-trash"></i> Delete
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr th:if="${content.entries == null or content.entries.isEmpty()}">
                                        <td colspan="6">
                                            There is no entry in the database!
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="box-footer text-center">
                                <ul class="pagination pagination-sm" th:if="${pagination.pageCount > 1}">
                                    <li class="page-item" th:if="${pagination.hasPrevious}">
                                        <a class="page-link" href="#" th:href="@{/entries/{page}(
                                                    page=__${pagination.pageNumber - 1}__,
                                                    limit=__${pagination.limit}__,
                                                    orderBy=__${pagination.orderBy}__,
                                                    orderDirection=__${pagination.orderDirection}__)}">
                                            <i class="fa fa-angle-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item"
                                        th:each="pageNum : ${#numbers.sequence(1, pagination.pageCount)}">
                                        <a class="page-link" href="#" th:text="${pageNum}" th:href="@{/entries/{page}(
                                                    page=__${pageNum}__,
                                                    limit=__${pagination.limit}__,
                                                    orderBy=__${pagination.orderBy}__,
                                                    orderDirection=__${pagination.orderDirection}__)}">1</a>
                                    </li>
                                    <li class="page-item" th:if="${pagination.hasNext}">
                                        <a class="page-link" href="#" th:href="@{/entries/{page}(
                                                    page=__${pagination.pageNumber + 1}__,
                                                    limit=__${pagination.limit}__,
                                                    orderBy=__${pagination.orderBy}__,
                                                    orderDirection=__${pagination.orderDirection}__)}">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</th:block>
</body>
</html>