<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{_layout/default}">
<body>
<th:block layout:fragment="content">
    <section class="content-wrapper">
        <section class="content-header">
            <h1 th:if="${request.getAttribute('id') == null}">Create category</h1>
            <h1 th:unless="${request.getAttribute('id') == null}" th:text="${'Edit existing category: ' + category.title}">Edit category</h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-body">
                            <a class="btn btn-primary" th:href="@{/categories}" href="#">Manage categories</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Category data</h3>
                        </div>
                        <div class="box-body">
                            <form method="post" th:action="@{''}">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input class="form-control" id="title" name="title" placeholder="Title" type="text" th:value="${category == null} ? null : ${category.title}" />
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input class="form-control" id="description" name="description" placeholder="Description" type="text" th:value="${category == null} ? null : ${category.description}" />
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</th:block>
</body>
</html>