.main{
  flex: 1;
  display: flex;
  align-items: stretch;
  position: relative;
  &__side{
    background-color: $colorLightGrey;
    border-right: 1px solid darken($colorLightGrey,10%);
    width: 300px;
    transform: translateX(-300px);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    &.active{
      transform: translateX(0);
    }
    @include media-breakpoint-up(md){
        transform: translateX(0);
        position: relative;
        z-index: 0;
    }
  }
  &__content{
    flex: 1;
    padding: 15px;
  }
}